*{

  background: aqua;
}

.title h1{
  font-size: 48px;
  text-align: center;
  position:relative;
  font-family: 'Fira Mono', monospace;
}

#snakeBoard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@import url(../assets/font/Fira-Mono.ttf);